body {
  background-color: lightyellow;
}
.jumbotron {
  border-radius: 0 !important;
  background-image: url("https://assets.weforum.org/article/image/9YITQU3TPvlztAop6Fta-xpBKbATcMaxeTcBb-ZXiYM.jpg");
  background-size: cover;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.jumbotron p {
  font-weight: bold;
}
.col-md-12 {
  padding-top: 30px;
}
.panel {
  border: 0px solid white !important;
  border-radius: 5px !important;
}
.panel-heading {
  background-color: LightGoldenRodYellow !important;
  color: black !important;
  border-bottom: 1px solid white !important;
}
.panel-body {
  background-color: LightGoldenRodYellow !important;
  border-radius: 0 0 5px 5px;
}
.well {
  text-align: center;
  font-size: 1.8em !important;
  background-color: LightGoldenRodYellow;
  border: 0px solid white !important;
  box-shadow: 0px 0px !important;
}
.well h5 {
  font-size: .6em !important;
  background-color: white;
  font-weight: bold;
  padding: 5px;
  margin: 5px 0 !important;
}
.well p {
  font-size: .6em !important;
}
select {
  border-radius: 4px;
  padding: 7px;
  text-align: center;
  margin: 10px 0 5px 0;
}
.info-tag {
  text-align: center !important;
  font-size: 1em !important;
  padding: 2px !important;
  margin: 0 !important;
  font-weight: bold;
  background-color: white;
}
.info-tag-info {
  text-align: center !important;
  font-size: 1.3em !important;
  padding: 0 !important;
  margin: 0 !important;
}
